

strong {
	color: #bf6c78
}

.cover {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	margin-bottom: 30px;
	
}

.footer {
	border-radius: 5px;
	border: 2px solid #98d2c9;
	float: center;
	width: 100px;
	height: 100px;
	padding: 5px;
	margin-bottom: 10px;
}

.img-responsive {
	border-radius: 5px;
	border: 2px solid #98d2c9;
	padding: 5px;
	margin-bottom: 10px;
}

.highlight {
	font-weight: bold;
}

h3 .col-md-4 {
	font-family: courier;
}


#bs-or {
	font-family: courier;
}

p#bs-or {
	font-family: courier;
	font-style: italic;
	color: #bf6c78;
}

p#about {
	font-family: courier;
	
}

p#description {
	font-size: 10px;
	
}

h3#bs-or {
	font-family:courier;
	font-weight: bold;
	
}

h1#bs-or {
	font-weight: bold;
	color: white;
	
}

h2#bs-or.panel-title {
	font-weight: bold;
	font-size: 30px;
	color: white;
}



